html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  margin-left: 2em;
}

li.ql-indent-1 {
  margin-left: 4em;
  list-style: circle;
}

li.ql-indent-3 {
  margin-left: 6em;
  list-style: square;
}

.ql-snow .ql-tooltip a.ql-action::after {
  display: none;
}

img.is-active {
  cursor: pointer;
  opacity: 0.8;
}

/* レビューテキスト画像 */
.p-review-txt img {
  max-width: 100px;
  width: 14vw;
  height: 20vw;
  max-height: 150px;
  object-fit: cover;
  display: inline-block;
}

.p-review-txt img:not(:first-of-type) {
  margin-left: 16px;
}

code {
  display: inline-block;
  margin-top: 0.25em;
  padding: 0.35em;
  background: #000;
  color: #fff;
}

/* rte */

.ql-editor p {
  font-size: 16px;
}

.c-preview li {
  margin-left: 1.5em;
}

.preview__text .ql-indent-1 {
  margin-left: 3em;
}

.preview__text .ql-indent-2 {
  margin-left: 4.5em;
}

.preview__text .ql-indent-3 {
  margin-left: 6em;
}

.preview__text .ql-indent-4 {
  margin-left: 7.5em;
}

.c-description h2 {
  font-weight: bold;
  font-size: 24px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.c-description h2:not(:first-of-type) {
  margin-top: 40px;
}

.c-description p {
  font-size: 16px;
}

/* .c-preview__text h2 {
  font-size: 20px;
}

.c-preview__text .ql-align-center {
  text-align: center;
}

.c-preview__text .ql-align-right {
  text-align: right;
} */
